/* 
Código Hexadecimal verde: #8EC641
Código Hexadecimal gris footer: #3B3B3B
*/

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Raleway'
	font-size: 16px;
}
/*Seccion Bienvenida*/
#bienvenida{
	background: url('../img/fondo-bienvenida.jpg'); /*Imagen de fondo*/
	background-size: cover;  /*cubrir toda la superficie del elemento*/
	background-position: center; /*imagen centrada*/
	padding: 50px 0; /*50px en top y bottom y opx en left y right*/
}
.logo{
	text-align: left; /*alinear su contenido a la izquierda*/
	padding: 0 30px; /*0px de padding en top y buttom 30px en left y right*/
}

.mensaje{
	text-align: center; 
}

/*Secciones fondo de color - para darle el color de fondo a todas las secciones que tengan el backgorund verde */
.color{
	background-color: #8EC641;
}

* newsletter */
.newsletter{
	text-align: center;
	padding: 30px 50px 50px 50px;
}

.newsletter button{
	color: white;
	background-color: #8EC641;
	padding: 20px;
	border: 5px solid white;
	border-radius: 5px;
	font-size: 1.5em;
	font-weight: bolder;
	cursor: pointer;
	margin-left:455px;
	margin-top: 50px; 
}

/* seccion about */
#about{
	background: url('../img/fondo-about.jpg');
	background-size: cover;
	background-position: center;
	padding: 50px 0;
}

.contenido{
	color: white;
	width: 40%;
	margin: 0 auto;
	padding: 30px 30px 100px 30px;
}

.contenido h1{
	font-weight: bolder;
	font-size: 5rem;
	line-height: 5rem;
	text-transform: uppercase;
}

.color h1{
	padding: 3% 0;
	text-align: center;
	color: white;
	font-style: bold;
	font-size: 35px
}

#formulario{
	text-align: center;
	color: white;
}

.form{
	width: 30%;
	margin-bottom: 7px;
	border-radius: 10px;
	padding-left: 8px;
}

.form-select{
	margin-top: 4px;
	margin-bottom: 7px;
	border-radius: 10px;
	padding-left: 10px;
}

/* tipos de te */
.te-diferentes{
	color: white;
	padding: 30px;
	width: 60%;
	margin: 0 auto;
}

.tipo-de-te{
	border: 5px solid white;
	margin: 30px 0;
	padding: 20px;
}

.tipo-de-te h2{
	font-size: 1.5rem;
}

/* disfruta */
#disfruta{
	background: url('../img/disfruta.jpg');
	background-size: cover;
	background-position: center;
	padding: 50px 0;
}

/* footer */
footer{
	background-color: #3B3B3B;
	padding: 20px 30px;
	color: white;
}
